<div *ngIf="scramble">
    <div class="row">
        <div class="tile {{cube.state.U.UBL}}"></div>
        <div class="tile {{cube.state.U.UB}}"></div>
        <div class="tile {{cube.state.U.UBR}}"></div>
    </div>
    <div class="row">
        <div class="tile {{cube.state.U.UL}}"></div>
        <div class="tile {{cube.state.U.center}}"></div>
        <div class="tile {{cube.state.U.UR}}"></div>
    </div>
    <div class="row">
        <div class="tile {{cube.state.U.UFL}}"></div>
        <div class="tile {{cube.state.U.UF}}"></div>
        <div class="tile {{cube.state.U.UFR}}"></div>
    </div>
</div>
